*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #191919;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title {
    color: white;
}

.input {
    display: flex;
    justify-content: center;
}

.block, textarea {
    width: 100%;
    height: 500px;
    outline: none
}

.block {
    padding: 16px ;
}

.bottom {
    margin-top: 64px;
    padding: 16px;
}

.output,iframe {
    width: 100%;
}

iframe {
    background-color: white;
    outline: none;
}
